<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="HibernateSession">
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/novafireapp</property>
        <property name="hibernate.connection.username">fireapp</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="org.fireapp.model.StationLiteLocation"/>
        <mapping class="org.fireapp.model.StationLiteUnitCount"/>
        <mapping class="org.fireapp.model.Station"/>
        <mapping class="org.fireapp.model.Apparatus"/>
        <mapping class="org.fireapp.model.ApparatusType"/>
        <mapping class="org.fireapp.model.DepartmentLite"/>
        <mapping class="org.fireapp.model.Department"/>
    </session-factory>
</hibernate-configuration>
